body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px; /* Espacio para el cuadro flotante */
  }

  .bg-light-blue {
    background-color: #e5f6ff;
  }

  .logo-image{
    /* width: 134.14px;
    height: 48px; */
    width: 221px !important;
    height: 73px !important;
  }

  .color-orange{
    color: #FF6701 !important;
  }

  .border-color-orange{
    border-color: #FF6701 !important;
  }

  .color-blue-title{
    color: #1A65AE !important;
  }

  .color-blue-navbar{
    color: #1B66AF !important;
  }

  .size-title-carousel{
    font-weight: 600 !important;
  }

  .size-title-navbar{
    font-weight: 600 !important;
  }

  .btn-orange{
    color : white !important;
    background-color: #FF6701 !important;
  }

  .size-content-txt-carousel{
    width: 33rem !important;
  }

  .color-footer-carousel-blue{
    background-color: #1C65AF;
  }

  .color-footer-carousel-orange{
    background-color: #FF6701;
  }

  .py-6 {
    padding-top: 3.8rem !important;
    padding-bottom: 3.8rem !important;
  }

  .height-img{
    height: 540px !important;
  }

  .blue-row{
    background-color: #1A65AE !important; 
    height: 0.6rem !important; 
    width: 30rem !important; 
    margin: 15px 0 !important;
  }

  .mt-negative-blue-row{
    margin-top: -6rem !important;
  }

  .whatsapp-card {
    position: fixed;
    bottom: 20px;
    /* right: 20px; */
    right: 5rem;
    padding: 15px;
    /* background-color: #f8f9fa; */
    background-color: #454A4D;
    /* color: white !important; */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  .whatsapp-card.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  /* .whatsapp-icon {
    position: absolute;
    top: -15px;
    right: 10px;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */

  .whatsapp-icon {
    position: absolute;
    top: -15px;
    /* right: -15px; */
    right: 10px;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .whatsapp-icon img {
    width: 24px;
    height: 24px;
  }
  #contact {
    height: 400px; /* Simula una sección de contacto */
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }